@page "/modal"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime



@if (ButtonDescription is not null)
{
    <button class="show-modal btn btn-success ">@ButtonDescription</button>
}

<div class=" modalshow  hidden  ">
    <button class="close-modal">&times;</button>
    @ChildContent
</div>
<div class="overlay hidden"></div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? ButtonDescription { get; set; }
   

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("modalFunctions.addEventListeners");
        }
    }
}
