@namespace StudentAffairsServer
<div class="container">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-6 d-flex flex-column justify-content-start ">
           
                <h1>Why Brockway Community College?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
                <button class="btn btn-danger">READ MORE</button>
           
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="background-color: lightblue;">
                        <div class="card-body">
                            <h1 class="card-title m-5">Financial Aid</h1>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card" style="background-color: darkblue; color: white;">
                        <div class="card-body">
                            <h1 class="card-title m-5">Programs</h1>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card" style="background-color: red; color: white;">
                        <div class="card-body">
                            <h1 class="card-title m-5">Student Services</h1>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
