@namespace StudentAffairsServer
<div class="container mt-4 custom-height">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-center mx-3">
            <h4>Registration Office</h4>
            <p>info@mysite.com</p>
            <p>Tel: 123-456-7890</p>
        </div>
        <div class="text-center mx-3">
            <h4>Admissions Office</h4>
            <p>info@mysite.com</p>
            <p>Tel: 123-456-7890</p>
        </div>
        <div class="text-center mx-3">
            <h4>Financial Aid Office</h4>
            <p>info@mysite.com</p>
            <p>Tel: 123-456-7890</p>
        </div>
        <div class="text-center mx-3">
            <h4>International Office</h4>
            <p>info@mysite.com</p>
            <p>Tel: 123-456-7890</p>
        </div>
    </div>
</div>

<style>
    .custom-height {
        height: 300px;
    }

    h4 {
        margin-bottom: 10px; /* Space below headings */
    }

    p {
        margin: 0; /* Remove default margins for paragraphs */
    }
</style>