@namespace StudentAffairsServer


<div class="container my-2">
    <div class="row text-center ">
        <div class="col">
            <h2 class="display-1 text-primary ">15:1</h2>
            <p class="lead">Student Teacher Ratio</p>
        </div>
        <div class="col">
            <h2 class="display-1 text-primary ">95%</h2>
            <p class="lead">Job Placement</p>
        </div>
        <div class="col">
            <h2 class="display-1  text-primary">1M</h2>
            <p class="lead">Graduate Students</p>
        </div>
        <div class="col">
            <h1 class="display-1 text-primary ">100K</h1>
            <p class="lead">Degree Transfer</p>
        </div>
    </div>
</div>


