@namespace StudentAffairsServer
<div class="container mt-4">
    <h2 class="text-center mb-4">Our Campus Life</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image1.jpg" alt="Classroom" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image2.jpg" alt="Open Book" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image5.jpg" alt="Student Studying" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image3.jpg" alt="Library" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image4.jpg" alt="Lecture Hall" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="image-container">
                <img src="image/image6.jpg" alt="Happy Student" class="img-fluid" />
            </div>
        </div>
    </div>
    
</div>
